In [2]:
import pandas as pd

In [3]:
pd.DataFrame({'yes' : [50,21], 'no' : [131,2]})

   yes   no
0   50  131
1   21    2

In [5]:
pd.DataFrame({'Bunty': ['I liked it', 'It was awful'], 'Samar' : [ 'Pretty good', 'Your smile']})

          Bunty        Samar
0    I liked it  Pretty good
1  It was awful   Your smile

In [7]:
pd.DataFrame({'Bunty' : ['You looking fire', 'Beautiful'],
              'Samar' : ['Handsome', 'Baarish mein']},
index=['Product A', 'Product B'])

                      Bunty         Samar
Product A  You looking fire      Handsome
Product B         Beautiful  Baarish mein

In [9]:
pd.Series([1 ,2, 3, 4, 5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [10]:
pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name= 'Product A')

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64